.image-carousel{
    margin-top: 17px;
    width: 940px;
    height: 400px;
    overflow: visible;
    .image-carousel-search-icon {
        position: absolute;
        top: 38%;
        left: 50%;
        cursor: pointer;
        z-index: 10000;
    }

    

    .image-carousel-image {
      width: 940px;
      height: 400px;
      background-size: cover;
      background-position: center;
      position: relative;
      object-fit: cover;
        img {
            width: inherit;
            height: inherit;
            top: 0;
        }
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    img {
        transform: scale(1.3);
    }
  }
  
  .modal-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 25%;
  }

.thumbnail-image {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.splide-thumbnail {
    position: relative;
    display: flex;
    gap: 20px;


    bottom: 200px;
    left: 20px;
    
    img {
        object-fit: cover;
    }
}

