@import '../../../styles/base/colors';
@import '../../../styles/base/typography';
@import '../../../styles/base/mixins';

.secondary {
    background-color: $color-header-secondary;
}

.category-nav-item {
    font-family: $font-secondary;
    font-size: 18px;
    padding: 15px 21px 16px 21px;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-font-primary;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 53px;
    cursor: pointer;
}

#category1, #category2, #category3, #category4, #category5, #category6{
    transition: all ease-in-out 0.2s;
}

#category1 {
    @include CategoryAnimation($color-category-1);
}

#category2 {
    @include CategoryAnimation($color-category-2);
}

#category3 {
    @include CategoryAnimation($color-category-3);
}

#category4 {
    @include CategoryAnimation($color-category-4);
}

#category5 {
    @include CategoryAnimation($color-category-5);
}

#category6 {
    @include CategoryAnimation($color-category-6);
}