@import '../../../styles/base/colors';
@import '../../../styles/base/typography';
@import 'feedCategories';
@import 'feedRatedPosts';
@import 'feedArticleCarousel';
@import 'feedSocial';
@import 'feedTV';
@import 'feedBanners';

.feed-column1, .feed-column2{
    gap: 17px;
    display: flex;
    flex-direction: column;
    margin-top: 17px;
}

.feed-articles {
    display: flex;
    gap: 15px;
    overflow: hidden;
}

.feed-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 940px;
}

.feed-title {
    color: $color-font-feed-title;
    font-family: $font-secondary;
    font-size: 24px;
}

.feed-read-all {
    color: $color-category-1;
    font-family: $font-primary;

    &:hover {
        color: darken($color-category-1, 15);
    }
}

.feed-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feed-article-title {
    color: $color-font-feed-title;
    font-family: $font-secondary;
    font-size: 14px;
    
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.feed-article-image {
    width: inherit;
    height: 128px;
    object-fit: cover;
    margin-bottom: 6px;

    
}

.big-article-image {
    width: 260px;
    height: 150px;
}

.feed-articles {
    margin-top: 30px;
}

.feed-single-article {
    width: 170px;
}

.big-article {
    width: 260px;
}