#splide02 {
    .splide__arrow {
        display: flex;
        position: absolute;
        bottom: 200px;
        svg {
            
            display: flex;
            height: 53px;
            width: 36px;
            fill: black;
        }
        .splide__arrow--prev {
            svg {
                position: absolute;
                left: 200px;
            }
        }
    }
}