@import '../../../styles/base/colors';
@import '../../../styles/base/typography';

.footer-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-left: 0px;
}

.footer-single-tag {
    list-style: none;
    padding: 4px 10px;
    font-family: $font-primary;
    font-size: 12px;
    background-color: $color-input;
    color: $color-font-footer;

    &:hover {
        background-color: $color-hover-tag;
        color: $color-placeholder-text;
        cursor: pointer;
    }
}