@import '../../../styles/base/colors';
@import '../../../styles/base/typography';
@import 'footerNewsletter';
@import 'footerSocial';
@import 'footerTagsWidget';
@import 'footerTwitterFeed';

.footer-container-big {
    width: 100%;
    background-color: $color-header;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-top: 23px solid $color-header-secondary;
    margin-top: 20px;
}

.footer-primary {
    width: 940px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-top: 50px;
    padding-bottom: 222px;
    align-self: center;
}

.footer-row1 {
    display: flex;
    gap: 17px;
    margin-bottom: 64px;
}

.footer-row2 {
    display: flex;
    gap: 20px;
    
}

.footer-text {
    font-family: $font-secondary;
    color: $color-font-footer;
}

.footer-title-dim {
    font-family: $font-secondary;
    color: $color-title-footer;
    margin-bottom: 14px;
}

.footer-posts-title {
    font-family: $font-secondary;
    font-size: 24px;
    color: $color-font-primary;
}

.footer-post-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 2px solid $color-font-primary;
}

.footer-single-post {
    margin-top: 25px;
    display: flex;
    gap: 30px;
    height: 94px;
    justify-content: space-between;
}

.footer-post-info {
    font-family: $font-primary;
    font-weight: 400;
    color: $color-font-footer;
}

.footer-post-desc {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
}

.footer-post-header {
    display: flex;
    justify-content: space-between;
}

.footer-post-title {
    font-family: $font-secondary;
    color: $color-title-footer;
    
}

.footer-section-container {
    display: flex;
    flex-direction: column;
    width: 302px;
    gap: 23px;    
}

.footer-secondary {
    display: flex;
    justify-content: space-between;
    width: 940px;
    align-self: center;
    margin-bottom: 222px;
    margin-top: 22px;
}

.footer-info {
    color: $color-placeholder-text;
    font-family: $font-primary;
    text-decoration: none;
    font-weight: 400; 
    font-size: 12px;
}