
.footer-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-left: 0px;
}

.footer-single-tag {
    list-style: none;
    padding: 4px 10px;
    font-family: $font-primary;
    font-size: 12px;
    background-color: $color-input;
    color: $color-font-footer;
    transition: all ease-in-out 0.1s;

    &:hover {
        &:not(.active-tag) {
            background-color: $color-hover-tag;
            color: $color-placeholder-text;
        }
        background-color: lighten($color-header-secondary, 10);
        cursor: pointer;
    }
}

.active-tag {
    background-color: $color-header-secondary;
    color: $color-font-primary;
}