.banner-image {
    object-fit: cover;

}

.big {
    width: 940px;
    height: 120px;
    margin-top: 20px;
}

.mid {
    width: 620px;
    height: 120px;
}

.small {
    width: 120px;
    height: 120px;
}