$color-header: #252525;
$color-header-secondary: #4D4382;
$color-background: darken(#FFFFFF, 80%);
$color-font-primary: #FFF;
$color-font-secondary: #45B0E3;
$color-font-footer: #666;
$color-font-feed-title: #363F48;
$color-title-footer: #CCC;
$color-input: #333;
$color-hover-tag: #444;
$color-placeholder-text: #999;
$color-main-background: #eee;

$color-category-1: #3677B5;
$color-category-2: #EE6151;
$color-category-3: #84C14F;
$color-category-4: #5DCFF3;
$color-category-5: #FCC44D;
$color-category-6: #A99765;