$color-header: #252525;
$color-header-secondary: #4d4382;
$color-background: darken(#ffffff, 80%);
$color-font-primary: #fff;
$color-font-secondary: #45b0e3;
$color-font-footer: #666;
$color-font-feed-title: #363f48;
$color-title-footer: #ccc;
$color-input: #333;
$color-hover-tag: #444;
$color-placeholder-text: #999;
$color-main-background: #eee;
$color-font-dim: #acb3ba;
$color-social-background: #ddd;
$color-header-title: #222;
$color-article-title: #363f48;

$color-category-1: #299ec3;
$color-category-2: #ee6151;
$color-category-3: #84c14f;
$color-category-4: #5dcff3;
$color-category-5: #fcc44d;
$color-category-6: #a99765;
